In [1]:
string_variable ="its string variable"
list_variable = [1,2,3,4,5]
float_variable = 4.87
tuple_variable = (1,2,3,4)

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
num1 = 8
num2 = 3

r = num1/num2

print(f'/ is used for division. result of {num1}/{num2} is : {r}')

/ is used for division. result of 8/3 is : 2.6666666666666665

In [4]:
num1 = 96
num2 = 7

r = num1%num2
print(f'% is used for modules. result of {num1}%{num2} is : {r}')

% is used for modules. result of 96%7 is : 5

In [5]:
num1 = 78
num2 = 3

r = num1//num2
print('// is used for floor division. result of {num1}//{num2} is : {r}')

// is used for floor division. result of {num1}//{num2} is : {r}

In [6]:
num1 = 3
num2 = 3

r = num1**num2
print('** is used for exponentiation. result of {num1}**{num2} is : {r}')

** is used for exponentiation. result of {num1}**{num2} is : {r}

In [7]:
ls = [35,'sumit','manas',64,'aditya','et',75,'india',78,'australia']
for i in ls:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [8]:
num1= int(input("enter number 1: ")) 
num2 = int(input("enter number 2: "))

c=0

while num1%num2==0:
    c = +1
    num1 /=num2

if c>0:
    print(f"{num1*num2*c} is divisible by {num2} and can be divided {c} times")
    
else:
    print(f"{num1} is not divisible by {num2}")

enter number 1: 45
enter number 2: 6
45 is not divisible by 6

In [9]:
ls = [5,7,8,9,35,67,86,46,8,9,68,97,46,80,645,83,655,323,76,43,52,8,95,53,25]
print(len(ls))

for i in ls:
    k = i%3 == 0
    if (k!=0):
        print(f"{i} is not divisible by 3")
    else:
        print(f"{i} is divisible by 3")

25
5 is divisible by 3
7 is divisible by 3
8 is divisible by 3
9 is not divisible by 3
35 is divisible by 3
67 is divisible by 3
86 is divisible by 3
46 is divisible by 3
8 is divisible by 3
9 is not divisible by 3
68 is divisible by 3
97 is divisible by 3
46 is divisible by 3
80 is divisible by 3
645 is not divisible by 3
83 is divisible by 3
655 is divisible by 3
323 is divisible by 3
76 is divisible by 3
43 is divisible by 3
52 is divisible by 3
8 is divisible by 3
95 is divisible by 3
53 is divisible by 3
25 is divisible by 3

In [10]:
#immutable data type: these are those whose values cannot be changed after creation like int,str,tuple .
#mutable data type: these are those whose value can be changed after creation like list,set.
#Example:
f = "Sumit"
d = ['sumit','kumar','roy',6,8]
#printing a specific index value is same in both
print(f[0]) 
print(d[4])

S
8

In [11]:
#but changing value at any index is only allowed in mutable data type
f[0]=67 #not allowed

TypeError: 'str' object does not support item assignment

In [12]:
d[4]=64 #allowed
print(d)

['sumit', 'kumar', 'roy', 6, 64]